Repository TREX-CoE/aiida-qp2: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

pylint:
  language: system
  name: pylint
  description: This hook runs the pylint static code analyzer
  entry: pylint

version-number:
  name: Check version numbers
  entry: python ./.github/check_version.py
  language: system

replace input files from diff with compressed EZFIO database for HCN
  examples/input_files/file1.txt
  examples/input_files/file2.txt
  examples/input_files/hcn.ezfio.tar.gz
  tests/input_files/file1.txt
  tests/input_files/file2.txt
  tests/input_files/hcn.ezfio.tar.gz
Due: none

adapt tests and examples for QP
  conftest.py
  examples/example_01.py
  tests/__init__.py
  tests/test_calculations.py
  tests/test_cli.py
Due: pylint

[WIP] working Calculations and Parsers plugin parts
  qp2/calculations.py
  qp2/cli.py
  qp2/data/__init__.py
  qp2/parsers.py
  setup.json
Due: pylint, version-number

fix GitHub CI on docs
  README.md
  docs/source/user_guide/get_started.rst
Due: none

disable Python tests until QP installation can be simplified
  .github/workflows/ci.yml
Due: none

comment tests block on ci.yml
  .github/workflows/ci.yml
Due: none

Update README.md
  README.md
Due: none

fix the badges
  README.md
Due: none

[WIP] disable exit for missing SCF energy
  qp2/parsers.py
Due: pylint

[WIP] adapt the plugin for creating EZFIO database from an XYZ file
  qp2/calculations.py
Due: pylint

remove helpers.py script
  qp2/helpers.py
Due: pylint

optional creation and required RemoteData node output for the EZFIO tarball
  qp2/calculations.py
  qp2/parsers.py
Due: pylint

update README
  README.md
Due: none

add hcn.xyz input file to tests and examples
  examples/input_files/hcn.xyz
  tests/input_files/hcn.xyz
Due: none

better example_01
  examples/example_01.py
Due: pylint

patch for missing ezfio:RemoteData in the input dict
  qp2/calculations.py
Due: pylint

minor cleaning
  examples/example_01.py
Due: pylint

add example_02.py script that executed 2-step workflow with QP2 code
  examples/example_02.py
Due: pylint

update examples in README
  README.md
Due: none

fix for pre-commit on CI
  examples/example_01.py
  examples/example_02.py
Due: pylint

add pymatgen to the pip install on CI
  .github/workflows/ci.yml
Due: none

add pymatgen to install and testing requirements in setup.json
  .github/workflows/ci.yml
  setup.json
Due: version-number

Changed qp2 into aiida-ap2 in README
  README.md
  conftest.py
Due: pylint

[WIP] use basis sets from aiida-gaussian-datatypes plugin
  examples/example_03.py
Due: pylint

[WIP] use basis sets and pseudos from aiida-gaussian-datatypes plugin
  examples/example_03.py
  qp2/calculations.py
Due: pylint

fix conftest
  .gitignore
  conftest.py
Due: pylint

rename and clean example of pure QP runs
  examples/example_ezfio_from_gdt.py
  examples/example_scf_from_ezfio.py
  examples/example_scf_from_xyz.py
Due: pylint

[WIP] run QMC=Chem from aiida-qp2 plugin
  examples/example_qp_qmcchem.py
  qp2/calculations.py
Due: pylint

[WIP] use local_copy and SinglefileData for wavefunction files
  .pre-commit-config.yaml
  examples/example_scf_from_xyz.py
  qp2/calculations.py
  qp2/parsers.py
Due: pylint

clean and upgrade the minor version
  conftest.py
  examples/example_scf_from_xyz.py
  qp2/__init__.py
  qp2/calculations.py
  qp2/cli.py
  qp2/data/__init__.py
  qp2/parsers.py
  setup.json
Due: pylint, version-number

decouple output_wf_basename from the input wf_filename (for TREXIO)
  qp2/calculations.py
Due: pylint

adapt the plugin to work with non-EZFIO (TREXIO) wavefunctions
  qp2/calculations.py
Due: pylint

clean scf_from_xyz example
  examples/example_scf_from_xyz.py
Due: pylint

add trexio_from_xyz workflow example
  examples/example_trexio_from_xyz.py
Due: pylint

fix typos
  examples/example_ezfio_from_gdt.py
  examples/example_scf_from_ezfio.py
  examples/example_scf_from_xyz.py
Due: pylint

move QMC=Chem related part into the main example
  examples/example_qp_qmcchem.py
  examples/example_trexio_from_xyz.py
Due: pylint

adapt documentation to new names of QP2 classes
  README.md
  docs/source/user_guide/get_started.rst
Due: none

Remove redundant `xyz` parameter
  qp2/calculations.py
Due: pylint

Add Jupyter notebook with demo for the hackathon
  examples/Demo-aiida-qp.md
Due: none

Add verdi CLI cheatsheet
  examples/verdi-README
Due: none

Path conditions:
  pylint: any of: \.py$, but not: (?x)^(
    docs/.*|
)$

  version-number: any of: ^(setup.json)|(qp2/__init__.py)
